<h1>Searched Employee</h1>

<div class="container">

    <div class="employee mt-2">
        <table id="employee" class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Division</th>
                    <th scope="col">Building</th>
                    <th scope="col">Title</th>
                    <th scope="col">Room</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.EmployeeId</td>
                    <td>@Model.FirstName</td>
                    <td>@Model.LastName</td>
                    <td>@Model.Division</td>
                    <td>@Model.Building</td>
                    <td>@Model.Title</td>
                    <td>@Model.Room</td>
                        <td>
                        <a asp-route-id="@Model.EmployeeId" asp-controller="Employee" asp-action="UpdateEmployee" class="btn btn-warning">
                                <i class="text-black fa-solid fa-user-pen"></i>
                            </a>
                        <a asp-route-id="@Model.EmployeeId" asp-controller="Employee" asp-action="RemoveEmployee" class="btn btn-danger ml-3">
                                <i class="text-black fa-solid fa-trash"></i>
                            </a>
                        </td>
                    </tr>

            </tbody>
        </table>
    </div>

</div>



<script>
    $(document).ready(function () {
        $('#employee_list').DataTable(); // Initialize DataTables on the table with id 'myTable'
    });
</script>

